{
  "Entries": [
    {
      "RequestUri": "/subscriptions/b8aef8e1-37df-4f17-a537-f10e183c8eca/resourceGroups/PwsTestRG/providers/Microsoft.RecoveryServices/vaults?api-version=2016-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"location\": \"centraluseuap\",\r\n      \"name\": \"PwsTestVault\",\r\n      \"etag\": \"W/\\\"datetime'2021-03-24T14%3A01%3A50.8326358Z'\\\"\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"privateEndpointStateForBackup\": \"None\",\r\n        \"privateEndpointStateForSiteRecovery\": \"None\"\r\n      },\r\n      \"id\": \"/subscriptions/b8aef8e1-37df-4f17-a537-f10e183c8eca/resourceGroups/PwsTestRG/providers/Microsoft.RecoveryServices/vaults/PwsTestVault\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults\",\r\n      \"sku\": {\r\n        \"name\": \"RS0\",\r\n        \"tier\": \"Standard\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/b8aef8e1-37df-4f17-a537-f10e183c8eca/resourceGroups/PwsTestRG/providers/Microsoft.RecoveryServices/vaults/PwsTestVault/replicationFabrics?api-version=2021-02-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Agent-Authentication": [
          "{\"NotBeforeTimestamp\":\"\\/Date(1616746862171)\\/\",\"NotAfterTimestamp\":\"\\/Date(1617351662171)\\/\",\"ClientRequestId\":\"561d3e6b-f418-44a4-a179-bda8da3b461f-2021-03-26 09:21:02Z-Ps\",\"HashFunction\":\"HMACSHA256\",\"Hmac\":\"VJ3GFLl2uU0sMeIAKAL/50DW8p93tpsYLEAn/3nFd3I=\",\"Version\":{\"Major\":1,\"Minor\":2,\"Build\":-1,\"Revision\":-1,\"MajorRevision\":-1,\"MinorRevision\":-1},\"PropertyBag\":{}}"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"9a60d28b65543435e52e1b81073c6a3aca7dd5d00d201e49fbe4e86848c495ed\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults/replicationFabrics\",\r\n      \"id\": \"/Subscriptions/b8aef8e1-37df-4f17-a537-f10e183c8eca/resourceGroups/PwsTestRG/providers/Microsoft.RecoveryServices/vaults/PwsTestVault/replicationFabrics/9a60d28b65543435e52e1b81073c6a3aca7dd5d00d201e49fbe4e86848c495ed\",\r\n      \"properties\": {\r\n        \"friendlyName\": \"PwsTestCS\",\r\n        \"encryptionDetails\": {\r\n          \"kekState\": \"None\",\r\n          \"kekCertThumbprint\": null\r\n        },\r\n        \"rolloverEncryptionDetails\": {\r\n          \"kekState\": \"None\",\r\n          \"kekCertThumbprint\": null\r\n        },\r\n        \"internalIdentifier\": \"01fbe5d9-6391-45fc-a729-bef0b458c9fe\",\r\n        \"bcdrState\": \"Valid\",\r\n        \"customDetails\": {\r\n          \"instanceType\": \"VMware\",\r\n          \"processServers\": [\r\n            {\r\n              \"friendlyName\": \"V2A-PS-200\",\r\n              \"id\": \"30AE6187-5869-8E44-B8AF6AA66E3ECC8F\",\r\n              \"ipAddress\": \"10.150.108.21\",\r\n              \"osType\": \"Windows\",\r\n              \"agentVersion\": \"9.41.0.0\",\r\n              \"lastHeartbeat\": \"2021-03-26T09:13:42Z\",\r\n              \"versionStatus\": \"NotSupported\",\r\n              \"mobilityServiceUpdates\": [\r\n                {\r\n                  \"version\": \"9.41.0.0\",\r\n                  \"rebootStatus\": \"NotRequired\",\r\n                  \"osType\": \"Windows\"\r\n                },\r\n                {\r\n                  \"version\": \"9.41.0.0\",\r\n                  \"rebootStatus\": \"NotRequired\",\r\n                  \"osType\": \"Linux\"\r\n                }\r\n              ],\r\n              \"hostId\": \"30AE6187-5869-8E44-B8AF6AA66E3ECC8F\",\r\n              \"machineCount\": \"3\",\r\n              \"replicationPairCount\": \"6\",\r\n              \"systemLoad\": \"0\",\r\n              \"systemLoadStatus\": \"Green\",\r\n              \"cpuLoad\": \"0%\",\r\n              \"cpuLoadStatus\": \"Green\",\r\n              \"totalMemoryInBytes\": 5032087552,\r\n              \"availableMemoryInBytes\": 3215503946,\r\n              \"memoryUsageStatus\": \"Green\",\r\n              \"totalSpaceInBytes\": 107337478144,\r\n              \"availableSpaceInBytes\": 105011830442,\r\n              \"spaceUsageStatus\": \"Green\",\r\n              \"psServiceStatus\": \"Running\",\r\n              \"sslCertExpiryDate\": \"2024-03-22T14:18:58Z\",\r\n              \"sslCertExpiryRemainingDays\": 1092,\r\n              \"osVersion\": null,\r\n              \"healthErrors\": [],\r\n              \"agentExpiryDate\": \"9999-12-31T23:59:59.9999999\",\r\n              \"agentVersionDetails\": {\r\n                \"version\": \"9.41.0.0\",\r\n                \"expiryDate\": \"9999-12-31T23:59:59.9999999\",\r\n                \"status\": \"Supported\"\r\n              },\r\n              \"health\": \"Normal\",\r\n              \"historicHealth\": \"Normal\",\r\n              \"psStatsRefreshTime\": \"2021-03-26T09:13:44Z\",\r\n              \"throughputUploadPendingDataInBytes\": 0,\r\n              \"throughputInMBps\": 0,\r\n              \"throughputInBytes\": 118926,\r\n              \"throughputStatus\": \"Green\",\r\n              \"marsCommunicationStatus\": \"1\",\r\n              \"marsRegistrationStatus\": \"1\"\r\n            },\r\n            {\r\n              \"friendlyName\": \"PwsTestCS\",\r\n              \"id\": \"14968BDF-E18E-7F45-A9B0E3EFAC2DDCA2\",\r\n              \"ipAddress\": \"10.144.130.132\",\r\n              \"osType\": \"Windows\",\r\n              \"agentVersion\": \"9.41.0.0\",\r\n              \"lastHeartbeat\": \"2021-03-26T09:10:37Z\",\r\n              \"versionStatus\": \"NotSupported\",\r\n              \"mobilityServiceUpdates\": [\r\n                {\r\n            [...]
    {
      "RequestUri": "/subscriptions/b8aef8e1-37df-4f17-a537-f10e183c8eca/resourceGroups/PwsTestRG/providers/Microsoft.RecoveryServices/vaults/PwsTestVault/replicationFabrics/9a60d28b65543435e52e1b81073c6a3aca7dd5d00d201e49fbe4e86848c495ed?api-version=2021-02-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Agent-Authentication": [
          "{\"NotBeforeTimestamp\":\"\\/Date(1616746864416)\\/\",\"NotAfterTimestamp\":\"\\/Date(1617351664416)\\/\[...]
    {
      "RequestUri": "/subscriptions/b8aef8e1-37df-4f17-a537-f10e183c8eca/resourceGroups/PwsTestRG/providers/Microsoft.RecoveryServices/vaults/PwsTestVault/replicationFabrics/9a60d28b65543435e52e1b81073c6a3aca7dd5d00d201e49fbe4e86848c495ed/replicationProtectionContainers?api-version=2021-02-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Agent-Authentication": [
          "{\"NotBeforeTimestamp\":\"\\/Date(1616746865114)\\/\",\"NotAfterTimestam[...]
    {
      "RequestUri": "/subscriptions/b8aef8e1-37df-4f17-a537-f10e183c8eca/resourceGroups/PwsTestRG/providers/Microsoft.RecoveryServices/vaults/PwsTestVault/replicationFabrics/9a60d28b65543435e52e1b81073c6a3aca7dd5d00d201e49fbe4e86848c495ed/replicationProtectionContainers/cloud_01fbe5d9-6391-45fc-a729-bef0b458c9fe?api-version=2021-02-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Agent-Authentication": [
          "{\"NotBeforeTimestamp\":\"\\/[...]
    {
      "RequestUri": "/subscriptions/b8aef8e1-37df-4f17-a537-f10e183c8eca/resourceGroups/PwsTestRG/providers/Microsoft.RecoveryServices/vaults/PwsTestVault/replicationFabrics/9a60d28b65543435e52e1b81073c6a3aca7dd5d00d201e49fbe4e86848c495ed/replicationProtectionContainers/cloud_01fbe5d9-6391-45fc-a729-bef0b458c9fe/replicationProtectionContainerMappings?api-version=2021-02-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Agent-Authentication": [
 [...]
    {
      "RequestUri": "/subscriptions/b8aef8e1-37df-4f17-a537-f10e183c8eca/resourceGroups/PwsTestRG/providers/Microsoft.RecoveryServices/vaults/PwsTestVault/replicationPolicies/Ploicyv2a-failback?api-version=2021-02-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Agent-Authentication": [
          "{\"NotBeforeTimestamp\":\"\\/Date(1616746866313)\\/\",\"NotAfterTimestamp\":\"\\/Date(1617351666313)\\/\",\"ClientRequestId\":\"3dd30d2e-cf3d-4e93-b950-b4b9adbb5bbb-2021-03-26 09:21:06Z-Ps\",\"HashFunction\":\"HMACSHA256\",\"Hmac\":\"IrFTt4uOiTeif1wv9y5O3GkjjgufkSFrk4tC9OPgmZs=\",\"Version\":{\"Major\":1,\"Minor\":2,\"Build\":-1,\"Revision\":-1,\"MajorRevision\":-1,\"MinorRevision\":-1},\"PropertyBag\":{}}"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11994"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/Subscriptions/b8aef8e1-37df-4f17-a537-f10e183c8eca/resourceGroups/PwsTestRG/providers/Microsoft.RecoveryServices/vaults/PwsTestVault/replicationPolicies/Ploicyv2a-failback\",\r\n  \"name\": \"Ploicyv2a-failback\",\r\n  \"type\": \"Microsoft.RecoveryServices/vaults/replicationPolicies\",\r\n  \"properties\": {\r\n    \"friendlyName\": \"Ploicyv2a-failback\",\r\n    \"providerSpecificDetails\": {\r\n      \"instanceType\": \"InMage\",\r\n      \"recoveryPointThresholdInMinutes\": 15,\r\n      \"recoveryPointHistory\": 1440,\r\n      \"appConsistentFrequencyInMinutes\": 60,\r\n      \"multiVmSyncStatus\": \"Enabled\"\r\n    }\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/b8aef8e1-37df-4f17-a537-f10e183c8eca/resourceGroups/PwsTestRG/providers/Microsoft.RecoveryServices/vaults/PwsTestVault/replicationPolicies/V2aTestv2avm1-failback?api-version=2021-02-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Agent-Authentication": [
          "{\"NotBeforeTimestamp\":\"\\/Date(1616746866704)\\/\",\"NotAfterTimestamp\":\"\\/Date(1617351666704)\\/\",\"ClientRequestId\":\"178dbf13-dace-40c[...]
    {
      "RequestUri": "/subscriptions/b8aef8e1-37df-4f17-a537-f10e183c8eca/resourceGroups/PwsTestRG/providers/Microsoft.RecoveryServices/vaults/PwsTestVault/replicationPolicies/V2aTestv2avm1?api-version=2021-02-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Agent-Authentication": [
          "{\"NotBeforeTimestamp\":\"\\/Date(1616746867045)\\/\",\"NotAfterTimestamp\":\"\\/Date(1617351667045)\\/\",\"ClientRequestId\":\"334e21c1-59e5-42fa-9924-14eeaa13f89d-2021-03-26 09:21:07Z-Ps\",\"HashFunction\":\"HMACSHA256\",\"Hmac\":\"RFoTVplagP9EHg6azwhHT9eK9nh9yv/kTm4miAuAYow=\",\"Version\":{\"Major\":1,\"Minor\":2,\"Build\":-1,\"Revision\":-1,\"MajorRevision\":-1,\"MinorRevision\":-1},\"PropertyBag\":{}}"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11992"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/Subscriptions/b8aef8e1-37df-4f17-a537-f10e183c8eca/resourceGroups/PwsTestRG/providers/Microsoft.RecoveryServices/vaults/PwsTestVault/replicationPolicies/V2aTestv2avm1\",\r\n  \"name\": \"V2aTestv2avm1\",\r\n  \"type\": \"Microsoft.RecoveryServices/vaults/replicationPolicies\",\r\n  \"properties\": {\r\n    \"friendlyName\": \"V2aTestv2avm1\",\r\n    \"providerSpecificDetails\": {\r\n      \"instanceType\": \"InMageAzureV2\",\r\n      \"crashConsistentFrequencyInMinutes\": 5,\r\n      \"recoveryPointThresholdInMinutes\": 15,\r\n      \"recoveryPointHistory\": 1440,\r\n      \"appConsistentFrequencyInMinutes\": 60,\r\n      \"multiVmSyncStatus\": \"Enabled\"\r\n    }\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b8aef8e1-37df-4f17-a537-f10e183c8eca/resourceGroups/PwsTestRG/providers/Microsoft.RecoveryServices/vaults/PwsTestVault/replicationPolicies/Policyv2a?api-version=2021-02-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Agent-Authentication": [
          "{\"NotBeforeTimestamp\":\"\\/Date(1616746867374)\\/\",\"NotAfterTimestamp\":\"\\/Date(1617351667374)\\/\",\"ClientRequestId\":\"5b95955e-bb4c-4aa7-93bd-688510[...]
    {
      "RequestUri": "/subscriptions/b8aef8e1-37df-4f17-a537-f10e183c8eca/resourceGroups/PwsTestRG/providers/Microsoft.RecoveryServices/vaults/PwsTestVault/replicationFabrics/9a60d28b65543435e52e1b81073c6a3aca7dd5d00d201e49fbe4e86848c495ed/replicationProtectionContainers/cloud_01fbe5d9-6391-45fc-a729-bef0b458c9fe/replicationProtectionContainerMappings/a82f1aa1-9c8c-4832-adf2-6a4aa3aa90d4?api-version=2021-02-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": [...]
    {
      "RequestUri": "/subscriptions/b8aef8e1-37df-4f17-a537-f10e183c8eca/resourceGroups/PwsTestRG/providers/Microsoft.RecoveryServices/vaults/PwsTestVault/replicationFabrics/9a60d28b65543435e52e1b81073c6a3aca7dd5d00d201e49fbe4e86848c495ed/replicationProtectionContainers/cloud_01fbe5d9-6391-45fc-a729-bef0b458c9fe/replicationProtectedItems?api-version=2021-02-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Agent-Authentication": [
          "{\"[...]
[...]
    {
      "RequestUri": "/subscriptions/b8aef8e1-37df-4f17-a537-f10e183c8eca/resourceGroups/PwsTestRG/providers/Microsoft.RecoveryServices/vaults/PwsTestVault/replicationFabrics/9a60d28b65543435e52e1b81073c6a3aca7dd5d00d201e49fbe4e86848c495ed/replicationProtectionContainers/cloud_01fbe5d9-6391-45fc-a729-bef0b458c9fe/replicationProtectedItems/W2k19-PSTest-1-new?api-version=2021-02-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Agent-Authentication[...]
[...]
    {
      "RequestUri": "/subscriptions/b8aef8e1-37df-4f17-a537-f10e183c8eca/resourceGroups/PwsTestRG/providers/Microsoft.RecoveryServices/vaults/PwsTestVault/replicationFabrics/9a60d28b65543435e52e1b81073c6a3aca7dd5d00d201e49fbe4e86848c495ed/replicationProtectionContainers/cloud_01fbe5d9-6391-45fc-a729-bef0b458c9fe/replicationProtectedItems/W2k19-PSTest-1-new?api-version=2021-02-10",
      "RequestMethod": "PATCH",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"recoveryAzureVMName\": \"W2k19-PSTest-1-new\",\r\n    \"recoveryAzureVMSize\": \"Standard_F2s_v2\",\r\n    \"selectedRecoveryAzureNetworkId\": \"/subscriptions/b8aef8e1-37df-4f17-a537-f10e183c8eca/resourceGroups/PwsTestRG/providers/Microsoft.Network/virtualNetworks/PwsTestNw\",\r\n    \"selectedTfoAzureNetworkId\": \"\",\r\n    \"selectedSourceNicId\": \"00:50:56:95:89:4B\",\r\n    \"vmNics\": [\r\n      {\r\n        \"nicId\": \"00:50:56:95:89:4B\",\r\n        \"ipConfigs\": [\r\n          {\r\n            \"isPrimary\": true,\r\n            \"isSeletedForFailover\": true,\r\n            \"recoverySubnetName\": \"subnet1\",\r\n            \"recoveryStaticIPAddress\": \"\",\r\n            \"recoveryPublicIPAddressId\": \"\",\r\n            \"recoveryLBBackendAddressPoolIds\": []\r\n          }\r\n        ],\r\n        \"selectionType\": \"SelectedByUser\",\r\n        \"recoveryNetworkSecurityGroupId\": \"\"\r\n      }\r\n    ],\r\n    \"licenseType\": \"WindowsServer\",\r\n    \"recoveryAvailabilitySetId\": \"/subscriptions/b8aef8e1-37df-4f17-a537-f10e183c8eca/resourceGroups/PwsTestRG/providers/Microsoft.Compute/availabilitySets/PwsTestAvSet\",\r\n    \"providerSpecificDetails\": {\r\n      \"instanceType\": \"InMageAzureV2\",\r\n      \"recoveryAzureV2ResourceGroupId\": \"/subscriptions/b8aef8e1-37df-4f17-a537-f10e183c8eca/resourceGroups/PwsTestRG\",\r\n      \"useManagedDisks\": \"true\",\r\n      \"targetProximityPlacementGroupId\": \"/subscriptions/b8aef8e1-37df-4f17-a537-f10e183c8eca/resourceGroups/PwsTestRG/providers/Microsoft.Compute/proximityPlacementGroups/PwsTestPpg\",\r\n      \"targetAvailabilityZone\": \"\",\r\n      \"targetVmTags\": {\r\n        \"VmTag2\": \"powershellVm2\"\r\n      },\r\n      \"targetManagedDiskTags\": {\r\n        \"DiskTag2\": \"powershellDisk2\"\r\n      },\r\n      \"targetNicTags\": {\r\n        \"NicTag2\": \"powershellNic2\"\r\n      },\r\n      \"sqlServerLicenseType\": \"PAYG\"\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Agent-Authentication": [
          "{\"NotBeforeTimestamp\":\"\\/Date(1616746870034)\\/\",\"NotAfterTimestamp\":\"\\/Date(1617351670034)\\/\",\"ClientRequestId\":\"efef033c-723a-4fb5-b088-d640b9877a0f-2021-03-26 09:21:10Z-Ps\",\"HashFunction\":\"HMACSHA256\",\"Hmac\":\"52KDGwxFjW/LdFFkcZ4CLJMgwxxl7gCB7iINNl2ggC0=\",\"Version\":{\"Major\":1,\"Minor\":2,\"Build\":-1,\"Revision\":-1,\"MajorRevision\":-1,\"MinorRevision\":-1},\"PropertyBag\":{}}"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/Subscriptions/b8aef8e1-37df-4f17-a537-f10e183c8eca/resourceGroups/PwsTestRG/providers/Microsoft.RecoveryServices/vaults/PwsTestVault/replicationFabrics/9a60d28b65543435e52e1b81073c6a3aca7dd5d00d201e49fbe4e86848c495ed/replicationProtectionContainers/cloud_01fbe5d9-6391-45fc-a729-bef0b458c9fe/replicationProtectedItems/W2k19-PSTest-1-new/operationresults/740e62dc-f1b2-4462-b0e0-aa9100156f47?api-version=2021-02-10"
        ],
        "Retry-After": [
          "30"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/Subscriptions/b8aef8e1-37df-4f17-a537-f10e183c8eca/resourceGroups/PwsTestRG/providers/Microsoft.RecoveryServices/vaults/PwsTestVault/replicationOperationStatus/740e62dc-f1b2-4462-b0e0-aa9100156f47?api-version=2021-02-10"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/b8aef8e1-37df-4f17-a537-f10e183c8eca/resourceGroups/PwsTestRG/providers/Microsoft.RecoveryServices/vaults/PwsTestVault/replicationJobs/740e62dc-f1b2-4462-b0e0-aa9100156f47?api-version=2021-02-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Agent-Authentication": [
          "{\"NotBeforeTimestamp\":\"\\/Date(1616746871890)\\/\",\"NotAfterTimestamp\":\"\\/Date(1617351671890)\\/\",\"ClientRequestId\":\"0a3b0d51-a2c4-4333-bbf3-89f95bf1da9d-2021-03-26 09:21:11Z-Ps\",\"HashFunction\":\"HMACSHA256\",\"Hmac\":\"uTDW9pPA+jvTamXsbn4H9cQtCh0Js5nb2wArpG1Q5mo=\",\"Version\":{\"Major\":1,\"Minor\":2,\"Build\":-1,\"Revision\":-1,\"MajorRevision\":-1,\"MinorRevision\":-1},\"PropertyBag\":{}}"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11985"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/Subscriptions/b8aef8e1-37df-4f17-a537-f10e183c8eca/resourceGroups/PwsTestRG/providers/Microsoft.RecoveryServices/vaults/PwsTestVault/replicationJobs/740e62dc-f1b2-4462-b0e0-aa9100156f47\",\r\n  \"name\": \"740e62dc-f1b2-4462-b0e0-aa9100156f47\",\r\n  \"type\": \"Microsoft.RecoveryServices/vaults/replicationJobs\",\r\n  \"properties\": {\r\n    \"activityId\": \"1e616de8-be29-4d9f-9b20-d951131e2b5c ActivityId: 24a1e7ed-f117-4b1c-9fbe-c968a1dc32d6\",\r\n    \"scenarioName\": \"UpdateVmProperties\",\r\n    \"friendlyName\": \"Update the virtual machine\",\r\n    \"state\": \"InProgress\",\r\n    \"stateDescription\": \"InProgress\",\r\n    \"tasks\": [\r\n      {\r\n        \"taskId\": \"ac9a085a-4c62-4a2d-a3a1-b28ce8e01bb8\",\r\n        \"name\": \"UpdateVmPropertiesTask\",\r\n        \"startTime\": \"0001-01-01T00:00:00\",\r\n        \"endTime\": \"0001-01-01T00:00:00\",\r\n        \"allowedActions\": [],\r\n        \"friendlyName\": \"Update the virtual machine properties\",\r\n        \"state\": \"NotStarted\",\r\n        \"stateDescription\": \"NotStarted\",\r\n        \"taskType\": \"TaskDetails\",\r\n        \"customDetails\": {\r\n          \"instanceType\": \"TaskDetails\"\r\n        },\r\n        \"groupTaskCustomDetails\": null,\r\n        \"errors\": []\r\n      }\r\n    ],\r\n    \"errors\": [],\r\n    \"startTime\": \"2021-03-26T09:21:10.9437092Z\",\r\n    \"allowedActions\": [],\r\n    \"targetObjectId\": \"f28a0e57-8c9a-11eb-a892-000d3ad78fab\",\r\n    \"targetObjectName\": \"W2k19-PSTest-1\",\r\n    \"targetInstanceType\": \"ProtectionEntity\",\r\n    \"customDetails\": {\r\n      \"instanceType\": \"AsrJobDetails\",\r\n      \"affectedObjectDetails\": {\r\n        \"primaryVmId\": \"f28a0e57-8c9a-11eb-a892-000d3ad78fab\",\r\n        \"primaryVmName\": \"W2k19-PSTest-1\",\r\n        \"recoveryVmId\": \"\",\r\n        \"recoveryVmName\": \"W2k19-PSTest-1\",\r\n        \"protectionProfileId\": \"ea0e4197-8efc-525e-8d95-16a207655530\",\r\n        \"primaryCloudId\": \"cloud_01fbe5d9-6391-45fc-a729-bef0b458c9fe\",\r\n        \"primaryCloudName\": \"PwsTestCS\",\r\n        \"recoveryCloudId\": \"d38048d4-b460-4791-8ece-108395ee8478\",\r\n        \"recoveryCloudName\": \"Microsoft Azure\",\r\n        \"primaryVmmId\": \"01fbe5d9-6391-45fc-a729-bef0b458c9fe\",\r\n        \"primaryVmmName\": \"PwsTestCS\",\r\n        \"recoveryVmmId\": \"21a9403c-6ec1-44f2-b744-b4e50b792387\",\r\n        \"recoveryVmmName\": \"Microsoft Azure\",\r\n        \"primaryFabricProviderId\": \"VMware\",\r\n        \"recoveryFabricProviderId\": \"Azure\"\r\n      }\r\n    }\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
