{
  "Entries": [
    {
      "RequestUri": "/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups?api-version=2015-01-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-01-01"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/a2a-rg\",\r\n      \"name\": \"a2a-rg\",\r\n      \"location\": \"southeastasia\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/a2a-source-rg\",\r\n      \"name\": \"a2a-source-rg\",\r\n      \"location\": \"eastasia\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/a2a-source-rg-australiaeast\",\r\n      \"name\": \"a2a-source-rg-australiaeast\",\r\n[...]
    {
      "RequestUri": "/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/IbizaV2ARG/providers/Microsoft.RecoveryServices/Vaults?api-version=2015-08-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-01-01"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"location\": \"southeastasia\",\r\n      \"name\": \"IbizaV2ADemo\",\r\n      \"etag\": \"W/\\\"datetime'2016-09-14T16%3A13%3A56.7293978Z'\\\"\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\r\n      },\r\n      \"id\": \"/subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/IbizaV2ARG/providers/Microsoft.RecoveryServices/vaults/IbizaV2ADemo\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults\",\r\n      \"sku\": {\r\n        \"name\": \"RS0\",\r\n        \"tier\": \"Standard\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "13632"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/IbizaV2ARG/providers/Microsoft.RecoveryServices/Vaults/IbizaV2ADemo/replicationFabrics?api-version=2015-11-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-01-01"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"8e13497ad51424e8c7cdcba057b9cbacdc0bde1d2a4de1282ac0e3de7e2d8be0\",\r\n      \"type\": \"Microsoft.RecoveryServices/Vaults/replicationFabrics\",\r\n      \"id\": \"/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/IbizaV2ARG/providers/Microsoft.RecoveryServices/Vaults/IbizaV2ADemo/replicationFabrics/8e13497ad51424e8c7cdcba057b9cbacdc0bde1d2a4de1282ac0e3de7e2d8be0\",\r\n      \"properties\": {\r\n        \"friendlyName\": \"V2A-DEMO-CS2\",\r\n        \"encryptionDetails\": {\r\n          \"kekState\": \"None\",\r\n          \"kekCertThumbprint\": null\r\n        },\r\n        \"rolloverEncryptionDetails\": {\r\n          \"kekState\": \"None\",\r\n          \"kekCertThumbprint\": null\r\n        },\r\n        \"internalIdentifier\": \"0a3d83d3-d1a2-4e4c-a115-3a1703be7ebd\",\r\n        \"bcdrState\": \"Invalid\",\r\n        \"customDetails\": {\r\n          \"instanceType\": \"VMware\",\r\n          \"processServers\": [\r\n            {\r\n              \"friendlyName\": \"KEERTHY-BVT-VM\",\r\n              \"id\": \"79B0596A-84D6-7C4B-A3C8B1EBAC5CC1CA\",\r\n              \"ipAddress\": \"10.150.1.175\",\r\n              \"osType\": \"Windows\",\r\n              \"agentVersion\": \"9.0.1.0\",\r\n              \"lastHeartbeat\": \"2016-02-26T17:37:32Z\",\r\n              \"versionStatus\": \"UpdateRequired\",\r\n              \"mobilityServiceUpdates\": [\r\n                {\r\n                  \"version\": \"9.0.1.0\",\r\n                  \"rebootStatus\": \"NotRequired\",\r\n                  \"osType\": \"Windows\"\r\n                },\r\n                {\r\n                  \"version\": \"9.0.1.0\",\r\n                  \"rebootStatus\": \"NotRequired\",\r\n                  \"osType\": \"Linux\"\r\n                }\r\n              ],\r\n              \"hostId\": \"79B0596A-84D6-7C4B-A3C8B1EBAC5CC1CA\",\r\n              \"machineCount\": \"1\",\r\n              \"replicationPairCount\": \"2\",\r\n              \"systemLoad\": \"1\",\r\n              \"systemLoadStatus\": \"Green\",\r\n              \"cpuLoad\": \"0\",\r\n              \"cpuLoadStatus\": \"Green\",\r\n              \"totalMemoryInBytes\": 4294496256,\r\n              \"availableMemoryInBytes\": 1859375104,\r\n              \"memoryUsageStatus\": \"Green\",\r\n              \"totalSpaceInBytes\": 31843151872,\r\n              \"availableSpaceInBytes\": 16591794176,\r\n              \"spaceUsageStatus\": \"Green\",\r\n              \"psServiceStatus\": \"Running\"\r\n            },\r\n            {\r\n              \"friendlyName\": \"KEERTHY-BVT-CS\",\r\n              \"id\": \"F67A7950-BBF8-114B-B5E4004D1A126515\",\r\n              \"ipAddress\": \"10.150.208.246\",\r\n              \"osType\": \"Windows\",\r\n              \"agentVersion\": \"9.0.1.0\",\r\n              \"lastHeartbeat\": \"2016-02-26T17:37:26Z\",\r\n              \"versionStatus\": \"UpdateRequired\",\r\n              \"mobilityServiceUpdates\": [\r\n                {\r\n[...]
    {
      "RequestUri": "/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/IbizaV2ARG/providers/Microsoft.RecoveryServices/Vaults/IbizaV2ADemo/replicationFabrics/6416c4cbc9bf9f4c6d30cac538628ccb2e27391ca402287b7bf194d11a28308f?api-version=2015-11-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-01-01"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"6416c4cbc9bf9f4c6d30cac538628ccb2e2739[...]
    {
      "RequestUri": "/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/IbizaV2ARG/providers/Microsoft.RecoveryServices/Vaults/IbizaV2ADemo/replicationAlertSettings?api-version=2015-11-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-01-01"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"defaultAlertSetting\",\r\n      \"type\": \"Microsoft.RecoveryServices/Vaults/replicationAlertSettings\",\r\n      \"id\": \"/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/IbizaV2ARG/providers/Microsoft.RecoveryServices/Vaults/IbizaV2ADemo/replicationAlertSettings/defaultAlertSetting\",\r\n      \"properties\": {\r\n        \"sendToOwners\": \"DoNotSend\",\r\n        \"customEmailAddresses\": [],\r\n        \"locale\": \"en-US\"\r\n      }\r\n    }\r\n  ],\r\n  \"nextLink\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "13304"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/IbizaV2ARG/providers/Microsoft.RecoveryServices/Vaults/IbizaV2ADemo/replicationAlertSettings/DefaultAlertSetting?api-version=2015-11-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"sendToOwners\": \"Send\",\r\n    \"customEmailAddresses\": [\r\n      \"admin@aad296.ccsctp.net\"\r\n    ],\r\n    \"locale\": \"fr-FR\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "Agent-Authentication": [
          "{\"NotBeforeTimestamp\":\"\\/Date(1476875560166)\\/\",\"NotAfterTimestamp\":\"\\/Date(1477480360166)\\/\",\"ClientRequestId\":\"83632e92-3526-4fb2-a763-83c01ac7d10e-2016-10-19 12:12:40Z-P\",\"HashFunction\":\"HMACSHA256\",\"Hmac\":\"YFXp/07hSqC/CPYhWaj/UKMpmZx+1nb+ZJdwzoBBxKE=\",\"Version\":{\"Major\":1,\"Minor\":2,\"Build\":-1,\"Revision\":-1,\"MajorRevision\":-1,\"MinorRevision\":-1},\"PropertyBag\":{}}"
        ],
        "x-ms-version": [
          "2015-01-01"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"defaultAlertSetting\",\r\n  \"type\": \"Microsoft.RecoveryServices/Vaults/replicationAlertSettings\",\r\n  \"id\": \"/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/IbizaV2ARG/providers/Microsoft.RecoveryServices/Vaults/IbizaV2ADemo/replicationAlertSettings/defaultAlertSetting\",\r\n  \"properties\": {\r\n    \"sendToOwners\": \"Send\",\r\n    \"customEmailAddresses\": [\r\n      \"admin@aad296.ccsctp.net\"\r\n    ],\r\n    \"locale\": \"fr-FR\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/IbizaV2ARG/providers/Microsoft.RecoveryServices/Vaults/IbizaV2ADemo/replicationEvents?api-version=2015-11-10&$filter=AffectedObjectFriendlyName%20eq%20'V2A-w2K12-660'%20and%20EndTime%20eq%20'10%2F19%2F2016%205:42:40%20PM'%20and%20EventType%20eq%20'VmHealth'%20and%20FabricName%20eq%20'6416c4cbc9bf9f4c6d30cac538628ccb2e27391ca402287b7bf194d11a28308f'%20and%20Severity%20eq%20'Warning'%20and%20StartTime%20eq%20'10%2F18%2F2016%205:42:40%20PM'",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-01-01"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [],\r\n  \"nextLink\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "13302"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "7c943c1b-5122-4097-90c8-861411bdd574"
  }
}